.contact tr{
  height: 7rem;
}

.contact th{
  text-align: right;
  width: 150px;
}

.contact td{
  width: 480px;
  padding-left: 1rem;
}

input[type= "text"] {
  width: 480px;
  height: 15px;
}

input[type= "submit"] {
  /* padding: 15px 40px; */
  letter-spacing: 15px;
  font-size: 30px;
  background-color: #48d1cc;
  color: #fff;
  border-style: none;
  width: 100px;
  text-align: center;
}

input[type= "submit"]:hover{
  opacity: 0.6;
}

textarea {
  width: 480px;
}

.submit {
  text-align: center;
}
